@model PersonelYonetim.Models.Unvan

@{
    ViewData["Title"] = "YeniUnvan";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h3>Yeni Unvan</h3>



<form class="form-group" method="post">
    <b>Unvan ad</b>
    @Html.TextBoxFor(x=>x.unvanad,new { @class="form-control"})

    <b>Personel id</b>
    @Html.TextBoxFor(x=>x.personelid,new { @class="form-control"})

   
    <button class="btn btn-info">Unvan Ekle</button>

</form>